@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="viva__banner">
    <div class="viva__banner__slide">
        <h1 class="banner__slide__title -title-size -title-color -title-style"><span class="title--fs1">非凡中國</span><br> <span class="title--fs2">最具活力的體育集團</span> </h1>
    </div>
</div>