@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "masterLayout.cshtml"; }

@{ var home = Model.Root();
    var title = "";
    if (Model.HasValue("pageTitle") && Model.Value("pageTitle") != null){
        title = Model.Value("pageTitle").ToString();
    }

}
<div class="childpage-content @Model.Name.ToLower().Replace(" ", "-").Replace("'", "-")">
    <div class="fluid-container">
        <section class="childpage-banner banner">
            @Html.Partial("Layout/Banner")
        </section>     
          @{ Html.RenderPartial("layout/Breadcrumb"); }
        <div class="inner-content">
            <div class="container">
                <div class="row clearfix">
                    <section class="left-column col-lg-9 col-md-8 col-sm-12 col-xs-12">
                        <div class="childpage-title">
                            <h2> @title</h2>
                        </div>
                        @RenderBody()

                    </section>
                    <section class="right-column left-menu col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        @{ Html.RenderPartial("Menu/LeftMenu"); }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>