@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "childPageLayout.cshtml";
}

@* the fun starts here *@

<div class="error-detail">
    <p>@Umbraco.GetDictionaryValue("Page not found")</p>
</div>