@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "childPageLayout.cshtml";
    Html.RequiresCss("~/css/pages/investor-relations.css", 2); }
@* the fun starts here *@

<div class="investor-relation-container">
    ir content
</div>